.reklama-carousel {
  width: 100%;
  max-width: 500px;
  overflow: hidden;
  margin-top: -20px;
  margin-bottom: 10px;
  border-radius: 25px;
  position: relative;
}

.carousel-track {
  display: flex;
  transition: transform 1s cubic-bezier(0.22, 1, 0.36, 1); /* super smooth */
}

.reklama-slide {
  
  flex: 0 0 100%;
  padding: 18px;
  box-sizing: border-box;
}

.ad-card {
  width: 100%;
  height: 150px;
  border-radius: 22px;
  padding: 18px;
  color: white;
  display: flex;
  gap: 5px;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  overflow: hidden;
}

.ad-card::before {
  content: "";
  position: absolute;
  top: -50%;
  left: -50%;
  width: 180%;
  height: 180%;
  background: rgba(255, 255, 255, 0.07);
  transform: rotate(25deg);
  transition: 0.6s ease;
  pointer-events: none;
}

.ad-card:hover::before {
  transform: rotate(25deg) translate(30%, 30%);
}

.ad-emoji {
  
  font-size: 28px;
  text-align: center;
  animation: bounce 2.2s infinite;
}

@keyframes bounce {
  0%, 100% { transform: translateY(0); }
  50% { transform: translateY(-12px); }
}

.ad-card h3 {
  font-size: 14px;
  text-align: center;
  margin: 3px 0;
}

.ad-card p {
  font-size: 11px;
  opacity: 0.9;
  text-align: center;
}

.ad-btn {
  align-self: center;
  background: rgba(255, 255, 255, 0.25);
  border: none;
  padding: 8px 25px;
  border-radius: 50px;
  color: white;
  font-size: 14px;
  backdrop-filter: blur(8px);
  cursor: pointer;
  transition: 0.25s;
}

.ad-btn:hover {
  background: rgba(255, 255, 255, 0.45);
  transform: translateY(-3px);
}

.carousel-dots {
  position: absolute;
  bottom: 1px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 8px;
}

.dot {
  width: 9px;
  height: 9px;
  border-radius: 50%;
  background: rgba(255,255,255,0.4);
  transition: 0.25s;
  cursor: pointer;
}

.dot.active {
  background: white;
  transform: scale(1.3);
}
