/* Dashboard.css */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', sans-serif;
  background: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
  min-height: 100vh;
}

.dashboard {
  min-height: 100vh;
  background: linear-gradient(to bottom, #ff8a00, #e52e71, #9c27b0, #6a1b9a);
  padding: 20px;
  position: relative;
  overflow: hidden;
}

/* Header */

/* Main Card */
.main-card {
  background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(15px);
  border-radius: 30px;
  height: 200px;
  margin: 40px 10px;
  box-shadow: 0 15px 35px rgba(0,0,0,0.3);
  position: relative;
  border: 1px solid rgba(255,255,255,0.1);
}

.dots {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 40px;
  color: rgba(255,255,255,0.4);
  letter-spacing: 10px;
}

/* Floating buttons */
.floating-buttons {
    width: 100%;
  display: flex;
  justify-content: space-around;
  gap: 30px;
  margin-top: -50px;
  z-index: 10;
}

.float-btn {
  width: 280px;
     background-color: #353839;
color: white;
  border-radius: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 15px 30px rgba(0,0,0,0.4);
}

.left-btn {
  width: 180px;
  display: flex;
  align-items: center;
  justify-content: space-between;
 
  
}

.right-btn {
    background-color: #353839;

}

.float-btn img {
  width: 100px;
  height: 60px;
  filter: drop-shadow(0 4px 8px rgba(0,0,0,0.3));
}

/* Share Button */
.share-btn {
    width: 100%;
    height: 55px;
  background: #00d4ff;
  color: white;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 15px;
  margin: 20px 0px 0px;
  text-align: center;
  font-size: 18px;
  font-weight: 600;
  box-shadow: 0 10px 25px rgba(0,212,255,0.4);
  backdrop-filter: blur(10px);
}

.share-btn span {
  flex:  1;
  font-size: 25px;
  text-align: center;
}
.tg-icon {
  width: 75px;
  height: 75px;
  margin-left: -30px;
}

/* Bottom Grid */


.reklama{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}


/* Responsive */
@media (max-width: 480px) {
  .floating-buttons {
  }
  .float-btn {
    background-color: #353839;
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    width: 180px;
    height: 80px;
  }
  .float-btn img {
    width: 80px;
    height: 80px;
  }
  .share-btn {
    font-size: 16px;
    padding: 16px 20px;
  }
}



